:root {
  --main-bg-color: whitesmoke;
  --accent-color: #5196ce;
}

nav {
  /* position: sticky;
  top: 0;
  z-index: 1000; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #262f45;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--main-bg-color);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--accent-color);
  transform: rotate(90deg);
}
.logo {
  color: var(--main-bg-color);
}
.link {
  color: var(--main-bg-color);
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.links li {
  list-style-type: none;
}
.links a:hover {
  background: var(--accent-color);
  color: black;
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
    color: var(--accent-color);
  }
  .social-icons {
    display: flex;
    font-size: 20px;
  }
  .social-icons li {
    list-style-type: none;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--main-bg-color);
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: var(--accent-color);
  }
}
